---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {%- if site.posts.size > 0 -%}
    <span style='float: right'><div id="search-searchbar"></div></span>
    <h2 class="post-list-heading">{{ page.list_title | default: "All Posts" }} </h2>
  
  </br>

  {%- if site.categories -%}
    <p class="home-categories" align="right">
	{%- for category in site.categories -%}
        	{% capture category_name %}{{ category | first }}{% endcapture %}
		<a href="{{ "/" | relative_url }}categories/{{category_name}}.html">
			{% assign words = category_name | split: ' ' %}
			{% capture category_name %}{% for word in words %}{{ word | capitalize }} {% endfor %}{% endcapture %}
			{{ category_name | replace: "_", " " }}
        	</a>
		{%- unless forloop.last -%}
			&nbsp
		{%- endunless -%}
	{%- endfor -%}
    </p>
    {%- endif -%}

    <div class="post-list" id="search-hits">
      {% for post in paginator.posts %}
        <div class="post-item">
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h2>

         <div class="post-snippet">{{ post.excerpt }}</div>
        </div>
      {% endfor %}
    </div>

  {% include algolia.html %}

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
