---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "All Posts" }}</h2> 
  
  <div id="search-searchbar"></div>
    
  {%- if site.categories -%}
    <p class="home-categories" align="right">
	{%- for category in site.categories -%}
        	{% capture category_name %}{{ category | first }}{% endcapture %}
		<a href="{{ "/" | relative_url }}categories/{{category_name}}.html">
            		{{category_name}}
        	</a>
		{%- unless forloop.last -%}
			&nbsp
		{%- endunless -%}
	{%- endfor -%}
    </p>
   {%- endif -%}

<div class="post-list" id="search-hits">
    {% for post in paginator.posts %}
      <div class="post-item">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h2>

        <div class="post-snippet">{{ post.excerpt }}</div>
      </div>
    {% endfor %}
  </div>


 {% include algolia.html %}


    {% if paginator.total_pages > 1 %}
        <div class="pagination">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
        <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
            <em>{{ page }}</em>
        {% elsif page == 1 %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
        {% else %}
            <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
        <span>Next &raquo;</span>
    {% endif %}
    </div>
    </br>
    {% endif %}

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
